.alert-success {
    background-color: #98FB98; 
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block;
    font-weight: bold; 
}

.alert-warning {
    background-color: #e6f66dee; 
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block;
    font-weight: bold; 
}

.alert-danger {
    background-color: red; 
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block;
    font-weight: bold; 
}

.alert-info {
    background-color: lightcoral; 
    color: black; 
    padding: 5px; 
    border-radius: 5px; 
    display: inline-block;
    font-weight: bold; 
}
nav li{display: inline;}
nav li a{color: blue}


body{
    background-color: rgb(128, 128, 128);
    font-family: 'Courier New', Courier, monospace;
}









div#watchlist-page-body {
    font-family: 'Helvetica', sans-serif;
    background-color: #eeeeee;
    color: #333;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

div#watchlist-page-body h1 {
    text-align: center;
    background-color: #2f95dc;
    color: white;
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 30px;
}

#watchlist-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

#watchlist-content li {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

div#watchlist-page-body li img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#watchlist-content .movie-title {
    color: #2f95dc;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}








#home-page h1 {
    text-align: center;
    padding: 20px;
    background-color: #2f95dc;
    color: white;
    margin-bottom: 30px;
    
}

#home-page ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: auto;
    text-align: center; 
}

#home-page ul li {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}








form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}